@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './styles/animations';
@import './styles/headers';

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  main,
  footer,
  body > div {
    @apply border-foreground/20 bg-zinc-900;
    @apply text-gray-100;
  }

  .border-gradient {
    background:
      linear-gradient(#18181b, #18181b) padding-box,
      linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.7) -0%,
          rgba(57, 57, 65, 0.6) 80%,
          // rgba(24, 24, 27, 0.8) 100%
        )
        border-box;
    border-radius: 10px;
    border: 1px solid transparent;
  }
}
